//========================================================================================================================================================
// Заголовки, загальні БЕМ блоки та інше...
//========================================================================================================================================================
::-webkit-scrollbar {
	width: toRem(1);
	border-radius: toRem(10);
	background-color: $neutral90Color;
}
::-webkit-scrollbar-thumb {
	border-radius: toRem(10);
	background-color: $neutral10Color;
}
::selection {
	background-color: rgba(#a60101, 0.5);
}
summary {
	list-style: none;
	&::marker {
		display: none;
	}
}
@supports (-webkit-appearance: none) {
	summary::-webkit-details-marker {
		display: none;
	}
}
//========================================================================================================================================================
// Search Input Big
.search {
	position: relative;
	&__input {
		width: 100%;
		outline: none;
		min-height: toRem(72);
		padding-left: toRem(24);
		border-radius: toRem(100);
		padding-right: toRem(272);
		&::placeholder {
			color: $neutral60Color;
			transition: opacity 0.3s;
		}
		&:focus::placeholder {
			opacity: 0;
		}
		@media (max-width: $mobile) {
			min-height: toRem(60);
			border-radius: toRem(30);
			padding-right: toRem(210);
		}
		@media (max-width: $mobileSmall) {
			padding-right: toRem(70);
		}
	}

	&__select {
		top: 0;
		bottom: 0;
		margin: auto 0;
		right: toRem(112);
		height: toRem(40);
		position: absolute;
		border-left: toRem(1) solid $neutral40Color;
		@media (max-width: $mobile) {
			right: toRem(70);
			height: toRem(30);
		}
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}

	&__button {
		top: 0;
		bottom: 0;
		display: flex;
		margin: auto 0;
		right: toRem(8);
		width: toRem(56);
		height: toRem(56);
		border-radius: 50%;
		position: absolute;
		align-items: center;
		font-size: toRem(20);
		justify-content: center;
		background-color: $primary100Color;
		transition: background-color 0.5s ease 0s;
		border: toRem(1) solid rgba($primary100Color, 0.3);
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba($warning100Color, 0.5);
			}
		}
		@media (max-width: $mobile) {
			width: toRem(44);
			height: toRem(44);
		}
	}
}
//========================================================================================================================================================
// Styles For Heading Title & Text
.headed {
	&--white {
		color: $neutral10Color;
		.headed__text {
			color: $neutral40Color;
		}
	}
	&--center {
		text-align: center;
		margin: toRem(0) auto;
		.headed__label {
			justify-content: center;
		}
	}
	&--column {
		display: grid;
		row-gap: toRem(18);
		@media (min-width: $mobile) {
			align-items: end;
			justify-content: space-between;
			grid-template-columns: 48.739496% 46.05042%;
		}
	}

	&__main {
		margin-bottom: toRem(-3);
	}

	&__label {
		gap: toRem(4);
		display: flex;
		font-weight: 600;
		line-height: 150%;
		align-items: center;
		color: $primary100Color;
		@include adaptiveValue("font-size", 16, 14);
		&::before {
			content: "";
			display: flex;
			height: toRem(2);
			border-radius: toRem(10);
			background-color: $primary100Color;
			@include adaptiveValue("width", 36, 24);
		}
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 24, 12);
		}
	}

	&__text {
		color: $neutral70Color;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 48, 18);
		}
	}

	&__button {
	}
}
.title {
	font-weight: 500;
	line-height: 110%;
	font-family: $fontFamilySecond;
	&--large {
		@include adaptiveValue("font-size", 72, 32);
	}

	&--medium {
		@include adaptiveValue("font-size", 52, 24);
	}
}
.text {
	&--large {
		line-height: 130%;
		@include adaptiveValue("font-size", 20, 14);
	}

	&--minimum {
		line-height: 135%;
		@include adaptiveValue("font-size", 18, 12);
	}

	&--normal {
		line-height: 150%;
		color: $neutral40Color;
		@include adaptiveValue("font-size", 16, 14);
	}
}
//========================================================================================================================================================
// Styles For Tab Navigation
.navigation {
	overflow-x: auto;
	border-bottom: toRem(2) solid $neutral40Color;
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 32, 24);
	}
	&::-webkit-scrollbar {
		display: none;
	}
	&__navs {
		white-space: nowrap;
	}

	&__title {
		font-weight: 600;
		line-height: 150%;
		position: relative;
		color: $neutral60Color;
		@include adaptiveValue("font-size", 16, 12);
		padding: toRem(0) toRem(24) toRem(10) toRem(24);
		&._tab-active {
			color: $neutral100Color;
			border-bottom: toRem(2) solid $primary100Color;
		}
		@media (max-width: $tablet) {
			padding: toRem(0) toRem(12) toRem(6) toRem(12);
		}
	}
}
//========================================================================================================================================================
// Styles For Course Article
.course {
	overflow: hidden;
	border-radius: toRem(16);
	@media (max-width: $mobile) {
		border-radius: toRem(8);
	}
	&__image {
		img {
			width: 100%;
		}
	}

	&__content {
		display: grid;
		border-left: toRem(1) solid $neutral40Color;
		border-right: toRem(1) solid $neutral40Color;
		border-bottom: toRem(1) solid $neutral40Color;
		border-radius: toRem(0) toRem(0) toRem(16) toRem(16);
		@include adaptiveValue("gap", 20, 10, 0, $containerWidth, 767.98);
		@include adaptiveValue("padding", 24, 12, 0, $containerWidth, 767.98);
		@media (max-width: $mobile) {
			border-radius: toRem(0) toRem(0) toRem(8) toRem(8);
		}
	}

	&__title {
		font-weight: 500;
		line-height: 130%;
		color: $neutral90Color;
		@include adaptiveValue("font-size", 20, 16);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__form {
		border-bottom: toRem(1.5) solid $neutral40Color;
		@include adaptiveValue("padding-bottom", 20, 10, 0, $containerWidth, 767.98);
	}

	&__labels {
	}
}
.form-course {
	display: flex;
	gap: toRem(5);
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	&__name {
		display: flex;
		line-height: 150%;
		align-items: center;
		color: $neutral70Color;
		&::after {
			content: "";
			display: flex;
			width: toRem(4);
			height: toRem(4);
			border-radius: 50%;
			margin-left: toRem(8);
			background-color: $neutral40Color;
		}
	}

	&__rate {
		display: flex;
		gap: toRem(4);
		line-height: 150%;
		align-items: center;
		color: $neutral70Color;
		&::before {
			font-size: toRem(20);
			color: $warning100Color;
		}
	}

	&__cost {
		font-weight: 500;
		line-height: 120%;
		font-family: $fontFamilySecond;
		@include adaptiveValue("font-size", 32, 20);
	}
}
.labels-course {
	display: flex;
	flex-wrap: wrap;
	row-gap: toRem(5);
	align-items: center;
	column-gap: toRem(10);
	justify-content: space-between;
	&__item {
		display: flex;
		gap: toRem(4);
		line-height: 155%;
		position: relative;
		align-items: center;
		font-size: toRem(14);
		color: $neutral70Color;
		&::before {
			font-size: toRem(20);
			color: $neutral100Color;
		}
		@media (min-width: em(1190)) {
			&:not(:last-child) {
				&::after {
					content: "";
					display: flex;
					width: toRem(4);
					height: toRem(4);
					position: absolute;
					border-radius: 50%;
					right: toRem(-10);
					background-color: $neutral40Color;
				}
			}
		}
	}
}
//========================================================================================================================================================
// Styles For Socials
.socials {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 40, 15);
	&__icon {
		font-size: toRem(24);
		color: $neutral10Color;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $warning100Color;
			}
		}
	}
}
//========================================================================================================================================================
